.firstImpressionContainer {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.myWebAppContainer{
    /* border: 2px solid red; */
    width: 86%;
    margin: auto;
}


/* -------- left section --------- */

.firstImpressionLeftSectionContent {
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    height: 33vh;
}

.liBitAboutMe {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 3rem;
    text-align: left;
}

.fristImpressionSocialIcons{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 40%;
    padding: 0px 4px;
}
.fristImpressionSocialIcons a{
    color: rgb(69, 69, 69);
}
.fristImpressionSocialIcons a:hover{
    color: rgb(111, 111, 111);
}

.firstImpressionLeftSectionBtns {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 64%;
    /* margin: 20px 0px; */
}

.liBitAboutMe .hi {
    font-size: 2rem;
    text-align: left;
    font-family: var(--litCoursive);
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
}

.hi hr {
    color: black;
    border: .2px solid var(--textColor);
    width: 95%;
    margin: 0px 7px;
}

.liBitAboutMe .me {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--poppinFont);
    color: var(--textColor);
}

.liBitAboutMe .me span {
    font-family: var(--poppinFont);
    font-weight: 600;
    color: black;

}

.liBitAboutMe .developer {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--poppinFont);
    color: var(--textColor);
}

.letsWorkBtn {
    color: white;
}

.letsWorkBtn:hover {
    color: white;
}

.cvBtn {
    border: 1px solid black;
    color: black !important;
}

.cvBtn:hover {
    background: rgb(52 58 64);
    /* box-shadow: 0px 0px 10px black; */
    border: none;
    color: white !important;
}

/* -------right section --------- */
.firstImpressionRightSectionContent {
    /* border: 2px solid blue;  */
    width: 50%;
}

.firstImpressionRightSectionContent img {
    border-radius: 10px;
    /* border: 2px solid red; */
    filter: saturate(90%);
    filter: brightness(93%);
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .myWebAppContainer{
        /* border: 2px solid black; */
        width: 100%;
    }

    .firstImpressionContainer {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        background: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.422)), url('../../Asserts/images/rajnirala.png') no-repeat center/cover;
        
        background-attachment: fixed;
        filter: blur(0px);
        /* -webkit-filter: blur(2px); */
        width: 100;
        /* height: 100vh; */
        z-index: -10;
    }

    .firstImpressionLeftSectionContent {
        /* border: 2px solid green; */
        padding: 4px 8px;
        height: 35%;
        background-color: rgba(101, 101, 101, 0.31);
    }

    .fristImpressionSocialIcons a{
        color: rgb(48, 48, 48);
    }   
    .fristImpressionSocialIcons a:hover{
        color: rgb(57, 57, 57);
    }   

    .firstImpressionLeftSectionContent span {
        color: rgb(0, 0, 0) !important;
        text-shadow: 0px 0px 10px rgb(129, 129, 129);
    }

    .liBitAboutMe{
        /* border: 2px solid red; */
    }

    .fristImpressionSocialIcons{
        /* border: 2px solid blue; */
    }

    .firstImpressionLeftSectionBtns{
        /* border: 2px solid yellow; */
    }

    .letsWorkBtn {
        color: #bbbbbb;

    }

    .cvBtn {
        color: #bbbbbb;
        /* border: 1px solid rgb(65, 65, 65); */
    }

    .cvBtn:hover {
        background: rgb(52 58 64);
        /* box-shadow: 0px 0px 10px black; */
        border: none;
        color: white;
    }

    .firstImpressionRightSectionContent {
        border: 2px solid rgb(106, 106, 106);
        border-radius: 50%;
        box-shadow: 0px 0px 10px black;
        display: none;
    }

}

@media only screen and (max-width: 490px){
    .firstImpressionLeftSectionContent{
        /* border: 2px solid red; */
        height: 26vh;
    }
}