.projectCard{
    border: none;
    /* border: 2px solid red; */
    width: 19rem;
    height: 84%;
    margin: 25px 0px;
    background: rgb(255, 255, 255);
}

.projectCard img{
    width: 19rem;
    height: 19rem;
}



.projectCardContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px;
    width: 150vh;
    height: 91vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.projectCard:hover{
    /* borde8r: 2px solid black; */
    color: rgb(90, 90, 90);
    box-shadow: 0px 0px 10px -2px black !important;
}
.projectDetails p{
    color: var(--textColor) !important;
}


.MyHrBorder{
    border: 3px solid rgb(111, 111, 111);
    position: relative;
    top: -1rem;
    width: 98%;    
}

.projectCardOtherContentContainer{
    /* border: 2px solid blue; */
    margin: -30px 0px 0px 0px;
}

/* -------media query----- */
@media only screen and (max-width: 700px) {
    .projectCardContainer{
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
}