.contectContent{
    /* border: 2px solid rgb(50, 50, 50); */
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    margin: 9% auto;
}
.leftSection{
    /* border: 2px solid green; */
    width: 90vh;
    background: var(--backgroundColor);
    /* color: rgb(63, 63, 63); */
    color: var(--textColor);
    font-weight: 600;
    padding: 5px 15px;
}
.leftSectionContent{
    /* border: 2px solid yellow; */
    width: 80vh;
}
.leftSection h2{
    font-family: var(--litCoursive);
}

.leftSection p{
    font-family: var(--normalFont);
}

.socialIcons{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 25vh;
    font-size:25px;
}
.socialIcons i{
    cursor: pointer;
    color: var(--textColor);
}

/* ------------ rightSection ----------  */
.rightSection{
    /* border: 2px solid blue;. */
    background: rgb(234, 234, 234) !important;
    width: 64vh;
    padding: 5px 10px;

}



