.firstImpressionContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

/* -------- left section --------- */

.firstImpressionLeftSectionContent{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.liBitAboutMe{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 3rem;
    text-align: left;
}
.firstImpressionLeftSectionBtns{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width:64%;
    margin: 20px 0px;
}

.liBitAboutMe .hi{
    font-size: 2rem;
    text-align: left;
    font-family: var(--litCoursive);
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
}

.hi hr{
    color: black;
    border: .2px solid grey;
    width: 95%;
    margin: 0px 7px;
}

.liBitAboutMe .me{
    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--poppinFont);
}
.liBitAboutMe .me span{
    font-family: var(--poppinFont);
    font-weight: 600;

}
.liBitAboutMe .developer{
    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--poppinFont);
}






/* -------right section --------- */
.firstImpressionRightSectionContent{
    /* border: 2px solid blue;  */
}
.firstImpressionRightSectionContent img{
    border-radius: 10px;
    filter: saturate(90%);
}


