@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Dancing+Script&family=Libre+Franklin:wght@200&family=Montserrat:wght@300&family=Playfair&family=Poppins:wght@100;200&display=swap');


:root {
  --litCoursive: 'Dancing Script', cursive;
  --strightFont: 'Montserrat', sans-serif;
  --normalFont: 'Playfair', serif;
  --bitter: 'Bitter', serif;
  --libreFranklin: 'Libre Franklin', sans-serif;
  --poppinFont: font-family: 'Poppins', sans-serif;
  --textColor : rgb(91, 91, 91);
}


.App {
  text-align: center !important;
}

body {
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    body{
      overflow: scroll;
    }
}
